
<div class="container">
  <div class="footer">
    <div class="social-links">
        <a href="https://x.com/i/flow/login" class="twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/login" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/gaddemerina/?hl=en" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.google.co.in/" class="google-plus"><i class="fa-brands fa-google"></i></a>
        <a href="https://www.linkedin.com/in/merina-gadde-33ba74270/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
      </div>
  
</div>
</div>