
  <div class="container">
    <div class="sidebar">
      <div class="head" style="text-align: center;">
        <div class="user-img"><img src="assets/profile.png" alt=""></div>
        <div class="user-details" style="text-align: center;">
          <p class="title">web developer</p>
          <p class="name" style="font-weight: bold;">Merina Gadde</p>
        </div>
      </div>  
      <div class="nav">
        <div class="menu">
          <ul>
            <li><a  routerLink="home"><img src="assets/home.png" alt="" class="icon"><span class="text">Home</span></a></li>
            <li><a routerLink="skills"><img src="assets/skill.png" alt="" class="icon"><span class="text">Skills</span></a></li>
            <li><a routerLink="about"><img src="assets/about.png" alt="" class="icon"><span class="text">About</span></a></li>
            <li><a routerLink="contact"><img src="assets/contact_page_icon.png" alt="" class="icon"><span class="text">Contact</span></a> </li>
          </ul>
        </div>
        
    </div>
    <app-footer></app-footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous"></script>


